/**
 * Styles that apply to all GFM related forms.
 */

.gfm-commit,
.gfm-commit_range {
  @include gl-font-monospace;
  font-size: 95%;
}

.gfm-project_member,
.md a.gfm-project_member {
  padding: 0 2px;
  background-color: $blue-100;
  border-radius: $gl-border-radius-base;
  color: $blue-700;

  &.current-user {
    background-color: $orange-100;
  }
}

.gfm-color_chip {
  display: inline-block;
  line-height: 1;
  margin: 0 0 2px 4px;
  vertical-align: middle;
  border-radius: 3px;

  $chip-size: 0.9em;
  $bg-size: $chip-size / 0.9;
  $bg-pos: $bg-size / 2;

  width: $chip-size;
  height: $chip-size;
  background: $white;
  background-image: linear-gradient(135deg, $gray-dark 25%, transparent 0%, transparent 75%, $gray-dark 0%),
    linear-gradient(135deg, $gray-dark 25%, transparent 0%, transparent 75%, $gray-dark 0%);
  background-size: $bg-size $bg-size;
  background-position: 0 0, $bg-pos $bg-pos;

  > span {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-bottom: 2px;
    border-radius: 3px;
    border: 1px solid $t-gray-a-24;
  }
}
